<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.DeliveryRequests"
            android:exported="false" />
        <activity
            android:name=".ui.UserOrderDetails"
            android:exported="true"></activity>
        <activity
            android:name=".ui.AvailableDeliverymanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddCompanyActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->

        </activity>
        <activity
            android:name=".ui.POM1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.NotificationsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddProductActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.ExploreActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AddPayementMethod"
            android:exported="true"
            android:theme="@style/Base.Theme.MyApplication" />
        <activity
            android:name=".ui.RegisterFinal"
            android:exported="true"
            android:theme="@style/Base.Theme.MyApplication" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.MyApplication">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:theme="@style/Base.Theme.MyApplication">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.MapActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.DragMapActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.ForgotPasswordVerificationActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.SetNewPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ProductActivity"
            android:exported="true">
            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.UserAccountActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->

        </activity>
        <activity
            android:name=".ui.OrdersActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->

        </activity>
        <activity
            android:name=".ui.OrderDetailsActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.CreditCardListActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->

        </activity>
        <activity
            android:name=".ui.MyPasswordActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.MyCreditCardActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.MyInfoActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.MyLocationActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.AddNewCreditCardActivity"
            android:exported="true">

            <!-- Intent filters and other configurations, if needed -->
        </activity>
        <activity
            android:name=".ui.EnterRouteActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.AddNewRouteDateAndTimeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.ShowRouteActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>